* {
	margin: 0;
	padding: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#app {
	display: flex;
	overflow: hidden;
	user-select: none;
}

.view {
	display: flex;
	flex-direction: column;
	height: 100vh;
	border: 5px solid #dbdbdb;
	overflow-x: hidden;
}

#explorer.visible, #editor.visible, #session.visible {
	flex: 1;
	transition: flex .5s;
}

#editor:not(.visible), #session:not(.visible) {
	flex: 0;
	border: none;
	transition: flex .5s;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	background-color: #dbdbdb;
	white-space: nowrap;
}

.scrollable {
	flex: 1 0;
	padding: 5px;
	overflow: auto;
}