.centerVertically {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-color: white;
	z-index: 1;
}

.answer {
	transition: none;
}

.correct {
	background-color: #237d37;
	border-color: #237d37;
	color: white;
}

.incorrect {
	background-color: #c10a1c;
	border-color: #c10a1c;
	color: white;
}