/*** Permet à l'éditeur de s'adapter à la taille de son contenu ***/

.CodeMirror {
	height: auto !important;
}

/*** FileInput ***/

.CustomInput > .custom-file-label {
	white-space: nowrap;
	overflow: hidden;
}

.CustomInput > .custom-file-label::after {
	content: "Parcourir";
}